<!DOCTYPE html>
<html>
  <head>
    <title>Practice AJAX</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
  <h4 action="index" method="post" id="ccc" onclick="do_ajax2();"> click me</h4>
  <h4 id="result"> click me</h4>
  <div id="myDiv"> </div>>
  <script type="text/javascript">
      function do_ajax2() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            result.innerHTML = this.responseText;
            newx = JSON.parse(this.responseText)["aa"]

                 var trace2 = {
          x: newx,
          y: [7,8,9,10],
          mode: 'markers',
          type: 'scatter'
        };
    var data2 = [trace2];

    Plotly.newPlot('myDiv', data2);

          } else {
            result.innerHTML = "処理中...";
          }
        }
        req.open('POST', '/a', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("name=" + "2");
      }
    </script>

  <script>
     var trace1 = {
      x: [1, 2, 3, 4],
      y: [10, 15, 13, 17],
      mode: 'markers',
      type: 'scatter'
    };
    var data = [trace1];

    Plotly.newPlot('myDiv', data);
  </script>
  </body>
</html>