<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div id="graph"></div>


<script>
    a = Plotly.newPlot('graph', [{
  y: [1, 2, 1]
}], {
  xaxis: {
    rangeslider: {}
  }
})
.then(gd => {
  var isMouseDown = false

  gd.addEventListener('mousedown', () => {
    console.log('mousedown!')
    isMouseDown = true
  })

  document.addEventListener('mouseup', () => {
    if (isMouseDown) {
      console.log('mouseup!');
      console.log(document.getElementById("graph").layout.xaxis.range);
      isMouseDown = false;
    }
  })
})


</script>
</body>