<!DOCTYPE html>
<html>
  <head>
    <title>Practice AJAX</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
  <h4 action="index" method="post" id="ccc" onclick="do_ajax2();"> click me</h4>
    <form action="index" method="post">
      <label>Name:<input type="text" id="name" value="" /></label>
      <button type="button" id="btn-post" onclick="do_ajax();">Click</button>
      <div id="result"></div>
    </form>

   <script type="text/javascript">
      function do_ajax() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            result.innerHTML = this.responseText;
          } else {
            result.innerHTML = "処理中...";
          }
        }
        req.open('POST', '/a', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("name=" + document.getElementById('name').value);
      }
    </script>

  <script type="text/javascript">
      function do_ajax2() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            result.innerHTML = "22333";
          } else {
            result.innerHTML = "処理中...";
          }
        }
        req.open('POST', '/a', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("name=" + "2");
      }
    </script>
  </body>
</html>