<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://syntagmatic.github.io/parallel-coordinates/examples/lib/d3.min.js"></script>
    <script src="http://benschmidt.org/colorbar/colorbar.js"></script>

    <style>
    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    </style>
</head>
<body>


  <svg width=1000 height=1000></svg>

<script>

data = d3.range(0,1050).map(function(d) {
    return {
        "x":300 + Math.random()*650,
        "y":50 + Math.random()*500,
        "value":(Math.random()*Math.random())*25}
})
range = data.map(function(d) {return d.value});
fillings = d3.scale.linear()
    .domain(d3.extent(range))
    .range(["white","red"])
var orientation = "vertical";
colorbar = Colorbar()
    .origin([50,20])
    .thickness(100)
    .scale(fillings).barlength(300).thickness(20)
    .orient(orientation)
    .title("Hover to update the pointer")

bar =  d3.selectAll("svg").append("g").attr("id","colorbar");
pointer = d3.selectAll("#colorbar").call(colorbar);

</script>
</body>
</html>