<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
</head>
<body>
<input name="t" type="radio" id="abc" value="1" checked="checked" onclick='check1();'/>
<div style="display:inline-block">abd</div>
<input name="t" type="radio" id="e" value="2" onclick='check2();'/>
<div style="display:inline-block">e</div>
<script>
function check2(){
if ($("#abc").is(':checked')){
    alert(123);
}

}

function check1(){

if ($("#e").is(':checked')){
    alert(345);
}


}
</script>
</body>
</html>