<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.js"></script>
 <style>
    .c-1-color { background: red; }
    .c-0-color { background: blue; }
    .c-2-color { background: yellow; }

 </style>
</head>
<body>
<div id="slider"></div>
<div id="field">h</div>
<script>
var slider = document.getElementById('slider');
var field = document.getElementById('field');
noUiSlider.create(slider, {
    start: [20, 40, 60, 80],
    behaviour: 'unconstrained-drag-tap',
    connect: [false, true, false, true, false],
    range: {
        'min': 0,
        'max': 100
    }
});

var connect = slider.querySelectorAll('.noUi-connect');
connect[0].classList.add('c-0-color');
connect[1].classList.add('c-1-color');


slider.noUiSlider.on('hover', function (value) {
    field.innerHTML = value;
});
</script>

</body>
</html>