<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<div id='graph'></div>
<body>


<script>

const trace1 = {x: ["01:01", "01:02", "01:03", "01:04","01:05" ,"01:06", "01:07","01:08", "01:09", "01:10"], y: [5, 6, 7, 8,9,10, 11, 12, 13, 14], type: 'scattergl' };
const plotData = [trace1];
range_index = 0;
const plotDiv = document.getElementById('graph');
Plotly.newPlot(plotDiv, plotData, {dragmode: 'select'});
select_x_1 = [];
select_x_2 = [];
common_x = [];
plotDiv.on('plotly_selecting', (eventData) => {
    Plotly.d3.selectAll('.select-line,.select-outline-1,.select-outline-2')
             .style('stroke-opacity','1.0')
             .style('stroke-width','1');
    });
plotDiv.on('plotly_selected', function(eventData) {
    if (typeof(eventData) != "undefined" ){
        range_index += 1;
        var select_range =  eventData.range.x;//start point and end point
        if (range_index == 1){
                select_x_1 = select_range;
             }
        else if (range_index == 2){
                select_x_2 = select_range;
         }

    layout_range_1 = shadow_selection(select_x_1, '#E6E6FA');
    Plotly.d3.selectAll('.select-line,.select-outline-1,.select-outline-2')
             .style('stroke-opacity','0.0')
             .style('stroke-width','0');
    if (range_index == 1){
        Plotly.relayout(plotDiv, layout_range_1);
    }
   else if (range_index == 2){
        var select_x_1_index = [trace1.x.indexOf(select_x_1[0]), trace1.x.indexOf(select_x_1[1])];
        var select_x_2_index = [trace1.x.indexOf(select_x_2[0]), trace1.x.indexOf(select_x_2[1])];
        var tmp1 = [];
        var tmp2 = [];
        for (var i=0; i<trace1.x.length; i++){
            if (i >= select_x_1_index[0] && i <= select_x_1_index[1]){
                tmp1.push(i);
            }
            if (i >= select_x_2_index[0] && i <= select_x_2_index[1]){
                tmp2.push(i);
            }
        }
        common_x = tmp1.filter(value => -1 !== tmp2.indexOf(value));//get the common part of selection

        function sortNumber(a,b){
            return a - b
            }
        if (common_x.length > 0){
            common_x = common_x.sort(sortNumber);
            common_x = [trace1.x[common_x[0]], trace1.x[common_x[common_x.length - 1]]];
            layout_range_common = shadow_selection(common_x, '#008B00');
         }
        layout_range_2 = shadow_selection(select_x_2, '#FFEBCD');
        if (common_x.length > 0){
            layout_range_2["shapes"].push(layout_range_common["shapes"][0]);
         }
        layout_range_2["shapes"].push(layout_range_1["shapes"][0]);
        Plotly.relayout(plotDiv, layout_range_2);
   }
 }

else{ // cancel selection
    range_index = 0;
    layout_cancel_select = shadow_selection([0, 0], '#FFEBCD')
    layout_cancel_select["shapes"][0]["opacity"] = 0;
    select_x_1 = [];
    select_x_2 = [];
    common_x = [];
    Plotly.relayout(plotDiv, layout_cancel_select);
}
 });


function shadow_selection(select_xaxis, color){
     var layout_shadow = {
         shapes: [
                    {
                        type: 'rect',
                        xref: 'x',
                        yref: 'paper',
                        x0: select_xaxis[0],
                        y0: 0,
                        x1: select_xaxis[1],
                        y1: 1,
                        fillcolor: color,
                        opacity: 0.2,
                        line: {
                            width: 0
                        }
                    }
                ]
     };
    return layout_shadow;
}

</script>


</body>
</html>